// General
$bg-color: rgb(15, 23, 42);
$text-color-primary: rgb(103, 135, 179);
$text-color-secondary: rgb(69, 87, 109);
$text-color-headers: rgb(179, 232, 251);
$text-color-input: rgb(33, 48, 69);
$gradient: linear-gradient(to right, #23b1eb, #12ebeb);
$text-active-color: #23b1eb;
$bg-white: #fff;
$bg-radio-button: #dedede;

// Navbar
$nav-link-color: rgb(120, 135, 163);
$active-nav-link-color: #23b1eb;
