@import "./_colors.scss";
@import "./mixin.scss";

@media screen and (min-width: 765px) {
  .container {
    width: 75%;
  }
}
// General Css
body {
  background: $bg-color;
  color: $text-color-primary;
  header {
    padding: 2em 5em;
  }
  .container {
    width: 80%;
  }
  .container-fluid {
    width: 90%;
  }
  p {
    color: $text-color-primary;
  }
  h1 {
    background: linear-gradient(to right, #23b1eb 0%, #12ebeb 25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h5,
  h6 {
    color: $text-color-headers;
  }
  button {
    background-image: linear-gradient(to right, #23b1eb, #12ebeb) !important;
    box-shadow: none !important;
    font-size: 0.75em !important;
    font-weight: bold;
    i {
      font-size: 1.5em;
    }
  }
}
.navbar {
  .nav-link {
    @include nav-link-color;
    padding-right: 1rem !important;
  }
}

// dark light mode / switch

.custom-control {
  #moonIcon {
    top: 6px;
    font-size: 8px;
    left: 3px;
  }
  #sunIcon {
    top: 3px;
    left: 3px;
    font-size: 0.75em;
  }
}

// Page load time state
.custom-switch .custom-control-label::before {
  background-color: $bg-radio-button;
  box-shadow: none !important;
}

.custom-switch .custom-control-label::after {
  background-color: $bg-white;
}

// after click
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $bg-white;
  box-shadow: none;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: $bg-white;
}
// end dark light mode

//Hero Section Input Tag

#hero .form-group {
  .form-control {
    background-color: $text-color-input !important;
    height: calc(2.3em + 0.75rem + 2px);
    border: 1px solid $text-active-color !important;
    &:focus {
      box-shadow: none !important;
    }
  }
  button.btn {
    top: 8px;
    right: 5px;
    font-size: 0.85em;
  }
}
// Hot topics Section

#hot-topics .row {
  background-color: $card-bg-color;
  border: 1px solid $card-border-color !important;
  border-radius: 10px;
  .arrow-key {
    background-color: $text-color-input;
  }
}
.hotTopics-plant {
  background-image: url(../images/plant.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px !important;
  small {
    color: $text-color-primary !important;
  }
}
.hotTopics-Nature {
  background-image: url(../images/recent-post-5.jpg);
  @extend .hotTopics-plant;
}
.hotTopics-Business {
  background-image: url(../images/recent-post-4.jpg);
  @extend .hotTopics-plant;
}
.hotTopics-Travel {
  background-image: url(../images/travel.jpg);
  @extend .hotTopics-plant;
}
// Editor's Picked Section

.editor-section {
  .card,
  .jumbotron {
    background-color: $card-bg-color;
    border: 1px solid $card-border-color !important;
    color: $text-color-primary;
  }
  .card {
    min-height: 488px;
  }
  .card-header {
    border-bottom: none !important;
    background-color: transparent !important;
  }
  .card-body {
    border-top: none !important;
    border-bottom: none !important;
  }
  .card-footer {
    border-top: none !important;
    background-color: transparent !important;
  }
  .card-footer .card-circle {
    border-radius: 50px;
    padding: 1.5em !important;
    background-color: $bg-color;
    small {
      color: $text-color-primary !important;
      right: 10px;
      top: 12px;
    }
  }
  .bg-jumbotron {
    background-color: rgba(43, 79, 155, 1);
  }
  .editor-section-first-row {
    .card {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-left-radius: 15px !important;
      border-bottom-right-radius: 15px !important;
      border-top: 0 !important;

      .card-img-top {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
    }
  }
  .editor-section-second-row {
    .card {
      border-radius: 15px !important;
    }
  }

  .border-line {
    // @include border-with-radius-bottom(7px, 70px, 160px);
    width: 160px;
    height: 0.45em;
    background-image: linear-gradient(to right, #23b1eb, #12ebeb);
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
  }
}
// Popular Tags Section

.box {
  border-radius: 0.75em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  color: $text-color-primary !important;
  &.box-color {
    @include color-panel($card-bg-color, $card-border-color);
  }
}
.recent-post-section {
  img {
    border-radius: 10px;
  }
  p {
    color: $text-color-primary;
  }
  small {
    color: $text-color-secondary;
  }
  h4 {
    background: linear-gradient(to right, #23b1eb 0%, #12ebeb 25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .media {
    .media-body {
      a {
        background-color: $text-color-input;
        font-size: 0.75em !important;
      }
    }
  }
  .popular-post-col {
    border: 1px solid $card-border-color !important;
    border-radius: 10px;
    background-color: $card-bg-color !important;
    p {
      color: $text-color-headers;
      padding-top: 0.75em !important;
      font-size: 0.85em !important;
    }
    .line {
      border-bottom: 1px solid $card-border-color !important;
      padding-bottom: 1em !important;
    }
  }
  .last-comment-col {
    @extend .popular-post-col;
    p {
      color: $text-color-primary !important;
    }
    small {
      color: $text-color-secondary !important;
    }
  }
  .border-line {
    @include border-with-radius-top(3px, 15px, $card-bg-color, auto);
  }
  .Genz-col {
    @extend .popular-post-col;
    h6 {
      color: $text-color-primary;
    }
  }
}
// Footer Section

.footer-section {
  @extend .box;
  span {
    color: $text-active-color;
  }
  .container {
    width: 90% !important;
  }
  .border {
    border: 1px solid $text-color-input !important;
  }
  .form-control {
    &::placeholder {
      color: $text-color-secondary;
      font-size: 0.75em;
    }
  }
  .footer-categories {
    small {
      margin-bottom: 1em !important;
    }
  }
}
